body {
  margin: 0;
  font-family: 'GoogleSans', 'GeezaPro', 'Waseem' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'GoogleSans';
  src: local('ProductSans-Regular.ttf'), url(./fonts/ProductSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'GeezaPro';
  src: local('Geeza-Pro-Regular.ttf'), url(./fonts/Geeza-Pro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Waseem';
  src: local('Waseem.ttf'), url(./fonts/Waseem.ttf) format('truetype');
}

@font-face {
  font-family: 'CircularStd';
  src: local('CircularStd-Medium.ttf'), url(./fonts/CircularStd-Medium.ttf) format('truetype');
}

